<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="handleFormSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           id="name"
                           class="form-control"
                           name="name"
                           ngModel
                           required />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="text"
                           id="amount"
                           class="form-control"
                           name="amount"
                           ngModel
                           required
                           pattern="\d+" />
                </div>
            </div>
            <div class="row invalid-text-container" *ngIf="!f.valid">
                <div class="col-xs-12">
                    <span class="invalid-text">Please enter the ingredient's name and an amount.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div *ngIf="editModeActive; then updateButton; else addButton"></div>
                    <div *ngIf="editModeActive; then deleteButton; else removeButton"></div>

                    <ng-template #updateButton>
                        <button (click)="setSubmitType('update')" class="btn btn-success" type="submit">Update</button>
                    </ng-template>
                    <ng-template #addButton>
                        <button (click)="setSubmitType('add')" class="btn btn-success" type="submit">Add</button>
                    </ng-template>
                    <ng-template #deleteButton>
                        <button (click)="setSubmitType('delete')" class="btn btn-danger" type="submit">Delete</button>
                    </ng-template>
                    <ng-template #removeButton>
                        <button (click)="setSubmitType('remove')" class="btn btn-danger" type="submit">Remove</button>
                    </ng-template>

                    <button (click)="handleClearForm(f)" class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
